<header>
    <div class="container-side navbar">
        <a><img src="../assets/logo/Logo.png" (click)="startPage()"></a>
        <div class="navbar-links mobile-display">
            <a (click)="aboutMe()">About me</a>
            <a (click)="skills()">Skills</a>
            <a (click)="portfolio()">Portfolio</a>
            <a (click)="contact()">Contact</a>
        </div>
        <div class="navbar-links desktop-display hamburger">
            <div class="bar"></div>
        </div>
    </div>

    <div class="mobile-navbar">
        <a (click)="aboutMe(); toggleMobileNav()">About me</a>
        <a (click)="skills(); toggleMobileNav()">Skills</a>
        <a (click)="portfolio(); toggleMobileNav()">Portfolio</a>
        <a (click)="contact(); toggleMobileNav()">Contact</a>
    </div>
</header>