@import "../../app/styles/var/scss_variables.scss";

header {
    display: flex;
    position: fixed;
    z-index: 10000;
    right: 0;
    left: 0;
    top: 0;

    // z-index: 99999999999;
    // position: absolute;
    // left: 0;
    // right: 0;
    // display: flex;
    // justify-content: center;
    // height: $header-height;
    // position: fixed;
    // background-color: $dark-blue-bg;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    background-color: $background;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: fixed;

    img {
        display: flex;
        align-items: center;
        height: 55px;
    }
}

.navbar-links {
    display: flex;
    align-items: center;

    a {
        font-family: Poppins;
        margin-left: 32px;
        font-size: 24px;
        text-decoration: none;
        color: white;

        &:hover {
            color: orange;
            cursor: pointer;
        }
    }
}