<div class="footer-container">
    <div>
        <img class="footer-logo" src="/assets/logo/Logo.png">
    </div>
    <div class="social-container">
        <a target="_blank" href="#"><img src="/assets/img/media/github.png"></a>
        <a target="_blank" href="#"><img src="/assets/img/media/linkedin.png"></a>
        <a target="_blank" href="#"><img src="/assets/img/media/mail.png"></a>
    </div>
    <div class="link-container">
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/data-protection">Datenschutz</a>
    </div>
</div>
