.footer-container {
    background-color: #232323;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
    border-top: 2px solid #FA7902;


    a {
        text-decoration: none;
        color: white;
        padding: 5px;

        &:hover {
            opacity: 0.5;
        }
    }
}

.footer-logo {
    height: 70px;
    width: 80px;

}

.link-container {
    display: flex;
    flex-direction: column;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        width: 30px;
        height: 30px;
        margin-left: 16px;
        margin-right: 16px;
        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }
    }
}


