<section>
    <div class="aboutme-shadow">
        <img src="../assets/img/shadows/shadow5.png" alt="">
    </div>

    <div class=" container-aboutme" id="aboutMe">

        <div class="container-side aboutme-content">
            <div class="container-text">
                <div class="text-aboutme">
                    <h1>About me</h1>
                    <span>I am a German-speaking Software Developer with experience in building web
                        apps with JavaScript & Angular. Since I have always been interested in
                        programming, this was my next logical step to enter and develop in this
                        profession. <br>
                        <br>
                        I started my IT journey coding small websites at home and then
                        decided to get professional training and build projects. I am looking forward
                        to building on my experience and starting my career in IT in a junior developer
                        position.
                    </span>
                </div>
                <div class="stack-skill">
                    <div class="main-stack">
                        <div class="stack-img">
                            <img src="/assets/img/mstack_img1.png" alt="">
                        </div>
                        <div>
                            Main stack:
                            <li>HTML& CSS</li>
                            <li>TypeScript & Angular</li>
                            <li>JavaScript & API</li>
                            <li>TestStand & LabView</li>
                            <li>XML configuration</li>
                        </div>
                    </div>
                    <div class="side-stack">
                        <div class="stack-img">
                            <img src="/assets/img/sstack_img2.png" alt="">
                        </div>
                        <div>
                            Side stack:
                            <li>Github, Bitbucket</li>
                            <li>Scrum, Kanban & Jira</li>
                            <li>Firebase</li>
                        </div>
                    </div>

                </div>
            </div>
            <div class="photo-aboutme">
                <img src="/assets/img/photo_portrait2.png" alt="">
                <hr class="hero-line">
            </div>
            <div class="hr-div">

            </div>
        </div>
    </div>
</section>