<section id="aboutMe" class="aboutme-section">
    <div class="aboutme-shadow">
        <img src="../assets/img/shadows/shadow5.png" alt="">
    </div>

    <div class="container-aboutme container-side">

        <div class="aboutme-content">
            <div class="container-text">
                <div class="text-aboutme">
                    <h1>About me</h1>
                    <span>A German speaking software developer with experience in developing 
                        of web apps with JavaScript & Angular or custom software 
                        with TestStand & XML configuration. Since I have always had a great 
                        interest in programming, it was the next logical step for me to take this 
                        Step to enter this profession and develop myself further. 
                        <br>
                        <br>
                        The Developer Akademie has made it possible for me to go this way and to develop 
                        develop myself as a software developer. My IT journey started with 
                        small websites at home and led to larger projects that I was 
                        which I have already completed as a software developer at my company.
                    </span>
                </div>
                <div class="stack-skill">
                    <div class="main-stack">
                        <div class="stack-img">
                            <img src="/assets/img/mstack_img1.png" alt="">
                        </div>
                        <div>
                            Main stack:
                            <ul>
                                <li>HTML& CSS</li>
                                <li>TypeScript & Angular</li>
                                <li>JavaScript & API</li>
                                <li>TestStand & LabView</li>
                                <li>XML configuration</li>
                            </ul>
                        </div>
                    </div>
                    <div class="side-stack">
                        <div class="stack-img">
                            <img src="/assets/img/sstack_img2.png" alt="">
                        </div>
                        <div>
                            Side stack:
                            <ul>
                                <li>Github, Bitbucket</li>
                                <li>Scrum, Jira</li>
                                <li>Firebase, MySQL</li>
                                <li>Figma</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="photo-aboutme">
            <img src="/assets/img/portrait_photo_me.png" alt="">
            <hr class="hero-line">
        </div>
    </div>
</section>