<section id="portfolio" class="portfolio-section">
    <div class="container-side container-portfolio">
        <div class="header-portfolio">
            <div class="hr-div">
                <hr class="hero-line">
            </div>
            <h1>Portfolio</h1>
            <p>This page is a sample of my work - please feel free to try them out.</p>
        </div>

        <div class="portfolio-projects">
            <div class="portfolio-img-left">
                <div class="project-img project-img-left">
                    <img src="/assets/img/portfolio/polloloco.png" alt="">
                </div>
                <div class="project-info project-text-right">
                    <h2>
                        El Pollo Loco
                    </h2>
                    <h3>
                        JavaScript | HTML | CSS
                    </h3>
                    <p>
                        A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and
                        poison bottles to fight against the killer whale.
                    </p>
                    <div class="buttons">
                        <button class="btn-lt"><a target="_blank"
                                href="https://amarsahinovic.de/el_pollo_loco/index.html">Live test</a></button>
                        <button class="btn-gh"><a target="_blank"
                                href="https://github.com/sahinovicamar/el_polo_loco">GitHub</a></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="portfolio-projects">
            <div class="portfolio-img-right">
                <div class="project-info project-text-left">
                    <h2>
                        El Pollo Loco
                    </h2>
                    <h3>
                        JavaScript | HTML | CSS
                    </h3>
                    <p>
                        A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and
                        poison bottles to fight against the killer whale.
                    </p>
                    <div class="buttons">
                        <button class="btn-lt"><a target="_blank"
                                href="https://amarsahinovic.de/el_pollo_loco/index.html">Live test</a></button>
                        <button class="btn-gh"><a target="_blank"
                                href="https://github.com/sahinovicamar/el_polo_loco">GitHub</a></button>
                    </div>
                </div>
                <div class="project-img project-img-right">
                    <img src="/assets/img/portfolio/polloloco.png" alt="">
                </div>
            </div>
        </div> -->
        <img class="portfolio-red-shadow" src="assets/img/shadows/shadow4.png" alt="">

        <img class="portfolio-orange-shadow" src="assets/img/shadows/shadow7.png" alt="">
    </div>
</section>