<div id="portfolio" class="padding-side container-portfolio">
    <div class="header-portfolio">
        <div class="hr-div">
            <hr class="hero-line">
        </div>
        <h1>Portfolio</h1>
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>

    <div class="portfolio-projects">
        <div class="my-project">
            <div class="project-img margin-r just-cont">
                <img src="/assets/img/portfolio/join.png" alt="">
            </div>
            <div class="project-info">
                <h2>
                    Join
                </h2>
                <h3>
                    Angular | TypeScript | HTML | CSS | Firebase
                </h3>
                <p>
                    Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
                </p>
                <div class="buttons">
                    <button class="btn-lt"><a href="">Live test</a></button>
                    <button class="btn-gh"><a href="">GitHub</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-projects">
        <div class="my-project">
            <div class="project-info align-text margin-r">
                <h2>
                    El Pollo Loco
                </h2>
                <h3>
                    JavaScript | HTML | CSS
                </h3>
                <p>
                    Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
                </p>
                <div class="buttons">
                    <button class="btn-lt"><a href="">Live test</a></button>
                    <button class="btn-gh"><a href="">GitHub</a></button>
                </div>
            </div>
            <div class="project-img">
                <img src="/assets/img/portfolio/polloloco.png" alt="">
            </div>
        </div>
    </div>
</div>