@import "../../app/styles/var/scss_variables.scss";

.portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-portfolio {
    font-family: Poppins;
    padding-top: 100px;
}

.header-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 60px;
        margin-block: 0;
        background-color: $background;
        z-index: 5;
        padding: 0 30px;

        @media (max-width: 800px) {
            padding: 0 15px;
        }

        @media (max-width: 600px) {
            margin-left: 50px;
        }

        @media (max-width: 550px) {
            font-size: 55px;
        }

        @media (max-width: 540px) {
            margin-left: 70px;
            padding: 0 10px;
        }

        @media (max-width: 450px) {
            font-size: 50px;
            padding: 0 8px;
        }
    }

    .hero-line {
        margin-top: 45px;
        position: absolute;
        right: 0;
        width: 75%;
        border: 0;
        border-top: 8px solid rgb(255, 119, 0);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        @media (max-width: 450px) {
            margin-top: 38px;
        }
    }
}

.portfolio-projects {
    display: flex;
}

.portfolio-img-left {
    display: flex;
    padding-bottom: 40px;

    @media (max-width: 1000px) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .project-img-left {
        margin-right: 100px;
        justify-content: flex-end;

        @media (max-width: 1000px) {
            justify-content: center;
            margin-right: 0;
        }
    }

    .project-text-right {
        justify-content: center;

        @media (max-width: 1000px) {
            justify-content: center;
        }
    }
}

.portfolio-img-right {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;

    @media (max-width: 1000px) {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .project-img-right {
        margin-left: 100px;

        @media (max-width: 1000px) {
            justify-content: center;
            margin-left: 0;
        }
    }

    .project-text-left {
        text-align: right;
    }
}

.project-img {
    display: flex;
    width: 50%;

    img {
        width: 380px;

        @media (max-width: 630px) {
            width: 330px;
        }

        @media (max-width: 500px) {
            width: 305px;
        }
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;


    @media (min-width: 1000px) {
        width: 50%;
    }

    @media (max-width: 1000px) {
        align-items: center;
    }

    h2 {
        font-size: 30px;
        color: #FF4747;
    }

    h3 {
        margin-block: 0;
        color: #FA7902;

        @media (max-width: 1000px) {
            text-align: center;
        }
    }

    p {
        @media (max-width: 1000px) {
            text-align: center;
        }
    }

    .buttons {

        .btn-lt {
            padding: 15px 20px;
            background: #FF4747;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background: #D61CE6;

                // a {
                //     color: #FF4747;
                // }
            }

            a {
                font-size: 18px;
                font-family: Poppins;
                text-decoration: none;
                color: white;

                @media (max-width: 550px) {
                    font-size: 16px;
                }
            }
        }

        .btn-gh {
            padding: 15px 20px;
            background: none;
            border: 1px #FF4747 solid;
            border-radius: 10px;
            margin-left: 80px;
            cursor: pointer;

            &:hover {
                background: #FFFFFF;

                a {
                    color: #FF4747;
                }
            }

            @media (max-width: 1000px) {
                margin-left: 40px;
            }

            a {
                font-size: 18px;
                font-family: Poppins;
                text-decoration: none;
                color: white;

                @media (max-width: 550px) {
                    font-size: 16px;
                }

            }
        }
    }
}

.portfolio-red-shadow {
    position: absolute;
    left: 0;
    width: 312px;
    margin-top: -600px;
    z-index: -10;

    @media (max-width: 480px) {
        width: 305px;
        margin-top: -645px;
    }
}

.portfolio-orange-shadow {
    position: absolute;
    right: 0;
    width: 312px;
    margin-top: -330px;
    z-index: -10;

    @media (max-width: 1000px) {
        width: 290px;
    }

    @media (max-width: 800px) {
        width: 170px;
        margin-top: -185px;
    }

    @media (max-width: 580px) {
        width: 190px;
        margin-top: -130px;
    }
}