.container-contact {
    font-family: Poppins;
    padding-bottom: 100px;

    @media (max-width: 1000px) {
        padding-bottom: 70px;
    }

    .text-contact {

        h1 {
            font-size: 60px;
            display: flex;
            margin-block: 0;
        }

    }

    .contact-content {
        display: flex;

        @media (max-width: 800px) {
            flex-direction: column;
        }

        .contact-text {
            width: 50%;
            padding-right: 150px;

            @media (max-width: 1000px) {
                padding-right: 100px;
            }

            @media (max-width: 800px) {
                padding-right: 0px;
                width: 100%;
            }

        }
    }
}

.forms-message {
    width: 50%;

    @media (max-width: 800px) {
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    textarea {
        resize: none;
        height: 150px;
    }

    ::placeholder {
        color: white;
    }

    .text-inputs {
        font-family: Poppins;
        background: none;
        border: 1px #FA7902 solid;
        border-radius: 6px;
        margin-bottom: 30px;
        padding: 10px 20px;
        color: white;
    }

    .btn-send-con {
        display: flex;
        justify-content: center;

        .btn-message {
            padding: 15px 20px;
            background: blueviolet;
            border: none;
            border-radius: 10px;
            font-size: 18px;
            font-family: Poppins;
            text-decoration: none;
            color: white;
        }
    }
}

.hero-line {
    margin-top: 45px;
    position: absolute;
    left: 0;
    width: 60px;
    border: 0;
    border-top: 8px solid rgb(255, 119, 0);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (min-width: 1300px) {
        width: 130px;
    }
}

// .form__submit__successful {
//     position: relative;
//     background-color: #2E844D;
//     position: absolute;
//     width: 80%;
//     height: 50px;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     display: flex;
//     border-radius: 10px;
//     padding: 20px 10px;

//     .form__submit__successful__check {
//         font-size: 42px;
//         position: absolute;
//     }

//     .form__submit__successful__text {
//         margin-right: auto;
//         margin-left: auto;
//         text-align: center;
//     }
// }

// .form__submit__successful {
//     transition: 0.2s ease-in-out;
//     display: none;
// }

.button-go-up {
    display: flex;
    justify-content: end;
    padding-top: 70px;

    @media (max-width: 1000px) {
        padding-top: 35px;
    }

    img {
        cursor: pointer;
    }
}