<section>
    <div class="padding-side container-start-page">

        <div class="container-name-photo">
            <div class="greetings-text">
                <div class="greetings">
                    <span class="name1">
                        I am
                    </span>
                    <div>
                        <h1 class="name2">Amar Sahinovic</h1>
                        <h2 class="name3">FRONTEND DEVELOPER</h2>
                    </div>
                </div>
            </div>

            <div class="photo">
                <img src="./assets/img/photome.png" alt="">
            </div>
        </div>

        <div class="fast-link-con">
            <div class="hr-div">
                <hr class="hero-line">
            </div>
            <div class="fast-link">
                <a href="#"><img src="./assets/img/media/linkedin.png" alt=""></a>
                <a href="#"><img src="./assets/img/media/mail.png" alt=""></a>
                <a href="#"><img src="./assets/img/media/github.png" alt=""></a>
            </div>
        </div>

    </div>

    <img class="bg-shadow2" src="/assets/img/Vector 8.png" alt="">
</section>



<app-about-me></app-about-me>
<app-my-skills></app-my-skills>
<app-projects></app-projects>
<app-contact></app-contact>