@import "../../app/styles/var/scss_variables.scss";

.start-page-section {
    display: flex;
    justify-content: center;
    position: relative;
}

.container-start-page {
    display: flex;
    flex-direction: column;
    margin-top: $header-height;
}

.container-name-photo {
    display: flex;
    align-items: flex-start;
    height: 760px;

    @media (max-width: 1000px) {
        height: 655px;
    }

    @media (max-width: 900px) {
        height: 565px;
    }

    @media (max-width: 750px) {
        height: 500px;
    }

    @media (max-width: 610px) {
        height: 435px;
    }

    @media (max-width: 400px) {
        height: 330px;
    }
}

.photo {
    position: relative;
    height: 750px;
    flex: 1;

    @media (max-width: 1000px) {
        display: flex;
        justify-content: center;
    }
}

.bgs1 {
    position: absolute;
    height: 650px;

    @media (max-width: 900px) {
        height: 615px;
    }

    @media (max-width: 750px) {
        height: 560px;
    }

    @media (max-width: 610px) {
        height: 385px;
    }

    @media (max-width: 400px) {
        height: 365px;
    }
}

.start-picture {
    position: absolute;
    top: 0;
    height: 760px;
    z-index: 100;

    @media (max-width: 900px) {
        height: 660px;
    }

    @media (max-width: 750px) {
        height: 560px;
    }

    @media (max-width: 610px) {
        height: 470px;
    }

    @media (max-width: 400px) {
        height: 365px;
    }
}

.desktop-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 200;
    padding-top: 250px;
}

.name-container {
    display: flex;
    font-size: 34px;
    line-height: 1;

    @media (max-width: 750px) {
        font-size: 27px;
    }

    @media (max-width: 550px) {
        font-size: 25px;
    }

    @media (max-width: 495px) {
        font-size: 23px;
    }

    @media (max-width: 450px) {
        font-size: 17px;
    }

    .name-con-1 {
        display: flex;
        transform: rotate(-90deg);
        align-items: baseline;
    }

    .name-con-1 h2 {
        margin-block: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        font-size: 49px;

        @media (max-width: 750px) {
            font-size: 38px;
        }

        @media (max-width: 550px) {
            font-size: 36px;
        }

        @media (max-width: 495px) {
            font-size: 33px;
        }

        @media (max-width: 450px) {
            font-size: 24px;
        }
    }

    .name-con-2 {
        margin-left: -40px;
        
        @media (max-width: 1300px) {
            margin-left: -55px;
        }

        @media (max-width: 1000px) {
            margin-left: -55px;
        }

        @media (max-width: 600px) {
            margin-left: -42px;
        }

        @media (max-width: 480px) {
            margin-left: -34px;
        }

        @media (max-width: 400px) {
            margin-left: -35px;
        }

        @media (max-width: 350px) {
            margin-left: -25px;
        }
    }

    .name-con-2 h1 {
        margin-block: 0;
        font-size: 69px;

        @media (max-width: 750px) {
            font-size: 55px;
        }

        @media (max-width: 550px) {
            font-size: 51px;
        }

        @media (max-width: 495px) {
            font-size: 47px;
        }

        @media (max-width: 450px) {
            font-size: 35px;
        }
    }

    .name-con-2 h2 {
        margin-block: 0;
        color: #FA7902;
        text-transform: uppercase;
        font-weight: 500;
    }
}


.lettalk {
    display: flex;
    justify-content: center;
    margin: 32px 0px;

    a {
        padding: 15px 20px;
        background: #FA7902;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        font-family: Poppins;
        text-decoration: none;
        color: white;

        @media (max-width: 550px) {
            font-size: 16px;
        }

        &:hover {
            color: white;
            cursor: pointer;
            background-color: #FA7902;
            transition: all 500ms ease-in-out;
            transform: scale(1.1);
        }
    }
}

.fast-link-con {
    z-index: 1000;

    .fast-link {
        display: flex;
        align-items: center;
        margin-right: 30px;

        @media (max-width: 1000px) {
            margin-left: 30px;
        }

        a {
            margin: 0 15px;

            @media (max-width: 1000px) {}
        }

        .start-page-mail {
            text-decoration: none;
            color: white;
        }
    }
}


.kontakt-con {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1000px) {
        justify-content: center;
    }
}


.scroll_down {
    display: flex;
    // position: absolute;
    // bottom: 70px;
    // right: 100px;
    rotate: 90deg;
    align-items: center;

    a {
        font-size: 21px;
        position: absolute;
        width: max-content;
        right: -15px;
        top: 0;

        img {
            rotate: -90deg;
            margin-bottom: -7px;
        }

        &:hover {
            cursor: pointer;
            transition: ease-in 500ms;
            transform: scale(1.1);
        }
    }
}


.mobile-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 200;
    padding-top: 50px;
}

.hr-div {
    @media (max-width: 1000px) {
        padding-top: 30px;
    }
}

.hero-line {
    position: absolute;
    left: 0;
    width: 100px;
    border: 0;
    border-top: 8px solid #FA7902;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (max-width: 450px) {
        width: 70px;
    }
}

.bg-shadow2 {
    display: flex;
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    width: 100%;
    top: 670px;
    height: 320px;

    @media (max-width: 1000px) {
        top: 680px;
    }

    @media (max-width: 900px) {
        top: 585px;
    }

    @media (max-width: 750px) {
        top: 500px;
    }

    @media (max-width: 610px) {
        top: 415px;
    }

    @media (max-width: 400px) {
        top: 320px;
    }
}



@media only screen and (max-height: 1300px) and (max-height: 748px) {

    .container-name-photo {
        height: 500px;
    }

    .bg-shadow2 {
        height: 235px;
    }
}