@import "../../app/styles/var/scss_variables.scss";

.container-start-page {
    height: 930px;
    display: flex;
    flex-direction: column;
    margin-top: $header-height;

    @media (max-width: 1000px) {
        height: 980px;
    }
}

.container-name-photo {
    display: flex;
    align-items: flex-start;

    @media (max-width: 1000px) {
        height: 655px;
    }
}

.photo {
    position: relative;
    height: 750px;
    flex: 1;

    @media (max-width: 1000px) {
        display: flex;
        justify-content: center;
    }
}

.bgs1 {
    position: absolute;
    height: 650px;
}

.start-picture {
    position: absolute;
    top: 0;
    height: 720px;
    z-index: 100;
}

.desktop-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 200;
    padding-top: 250px;
    width: 750px;
}

.name-container {
    display: flex;
    font-size: 34px;
    line-height: 1;

    .name-con-1 {
        display: flex;
        transform: rotate(-90deg);
        align-items: baseline;
    }

    .name-con-1 h2 {
        margin-block: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        font-size: 49px;
    }

    .name-con-2 {
        margin-left: -40px;
    }

    .name-con-2 h1 {
        margin-block: 0;
        font-size: 69px;
    }

    .name-con-2 h2 {
        margin-block: 0;
        color: rgb(255, 119, 0);
        text-transform: uppercase;
        font-weight: 500;
    }
}


.lettalk {
    display: flex;
    justify-content: center;
    margin: 32px 0px;

    a {
        padding: 15px 20px;
        background: rgb(255, 119, 0);
        border: none;
        border-radius: 10px;
        font-size: 18px;
        font-family: Poppins;
        text-decoration: none;
        color: white;

        &:hover {
            color: white;
            cursor: pointer;
            background-color: rgb(255, 133, 25);
            transition: all 500ms ease-in-out;
            transform: scale(1.1);
        }
    }
}

.fast-link-con {
    z-index: 1000;

    .fast-link {
        display: flex;
        align-items: center;
        margin-right: 30px;

        @media (max-width: 1000px) {
            margin-left: 30px;
        }

        a {
            margin: 0 15px;

            @media (max-width: 1000px) {

            }
        }

        .start-page-mail {
            text-decoration: none;
            color: white;
        }
    }

    .kontakt-con {
        display: flex;
        align-items: center;

        @media (max-width: 1000px) {
            justify-content: center;
            // margin-left: 100px;
        }
    }
}

.mobile-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 200;
    padding-top: 50px;
}

.hr-div {
    @media (max-width: 1000px) {
        padding-top: 30px;
    }
}

.hero-line {
    position: absolute;
    left: 0;
    width: 100px;
    border: 0;
    border-top: 8px solid rgb(255, 119, 0);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bg-shadow2 {
    display: flex;
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 320px;
}

.scroll_down {
    position: absolute;
    bottom: 115px;
    right: 100px;
    rotate: 90deg;
    align-items: center;
    display: flex;

    a {
        font-size: 21px;

        img {
            rotate: -90deg;
            margin-bottom: -7px;
        }

        &:hover {
            cursor: pointer;
            transition: ease-in 500ms;
            transform: scale(1.1);
        }
    }
}



@media only screen and (max-height: 1300px) and (max-height: 748px) {

    .container-name-photo {
        height: 500px;
    }

    .bg-shadow2 {
        height: 235px;
    }
}