<div class="container-skills">
    <div class="skills">

        <div class="">
            <div class="gap-con">
                <img src="../assets/img/icons/angular.png" alt="">
                <img src="../assets/img/icons/TypeScript.png" alt="">
                <img src="../assets/img/icons/Javascript.png" alt="">
            </div>
            <div class="gap-con">
                <img src="../assets/img/icons/html.png" alt="">
                <img src="../assets/img/icons/CSS.png" alt="">
                <img src="../assets/img/icons/Api.png" alt="">
            </div>
            <div class="gap-con">
                <img src="../assets/img/icons/Firebase.png" alt="">
                <img src="../assets/img/icons/git.png" alt="">
                <img src="../assets/img/icons/Material Design.png" alt="">
                <img src="../assets/img/icons/scrum.png" alt="">
            </div>
        </div>
        <div class="text-skills-con">
            <h1 class="text-skills">My skills</h1>
            <!-- <div class="line"></div> -->
        </div>
    </div>
</div>