.container-skills {
    height: 100vh;
    font-family: Poppins;
}

.skills {
    display: flex;
    justify-content: space-around;
}

.gap-con {
    display: flex;
    gap: 54px;
}

.text-skills-con {}

.text-skills {
    // display: inline-block;
}



// .line {
//     width: 53px;
//     height: 0;
//     border: 1px solid #C4C4C4;
//     margin: 3px;
//     display: inline-block;
// }