.container-skills {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
    padding-bottom: 50px;
}

.skills {
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;

    .logo-con {
        height: 150px;
        width: 150px;
        display: flex;
        align-items: center;
    }
}

.gap-con {
    display: flex;
    gap: 54px;
}

.text-skills-con {
    text-align: end;

    h1 {
        font-size: 60px;
        display: flex;
        margin-block: 0;
        justify-content: right;
    }

    .text-skills {
        display: flex;
        flex-direction: column;
        width: 470px;

        p {
            display: flex;
            justify-content: center;
        }
    }


}

.hero-line {
    margin-top: 45px;
    position: absolute;
    right: 0;
    width: 60px;
    border: 0;
    border-top: 8px solid rgb(255, 119, 0);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lettalk {
    display: flex;
    justify-content: center;
    padding: 35px 0px;

    a {
        padding: 15px 20px;
        background: rgb(255, 119, 0);
        border: none;
        border-radius: 10px;
        font-size: 18px;
        font-family: Poppins;
        text-decoration: none;
        color: white;

        &:hover {
            color: white;
            cursor: pointer;
            background-color: rgb(255, 133, 25);
            transition: all 500ms ease-in-out;
            transform: scale(1.1);
        }
    }
}

@media only screen and (min-width: 1300px) {

    // .hero-line {
    //     // width: 130px;
    // }


}