<div class="myskills-section">
    <div id="skills" class="container-side container-skills">
        <div class="lettalk desktop-display">
            <a (click)="contact()">Get in touch</a>
        </div>
        <div class="myskills-shadow">
            <img src="../assets/img/shadows/shadow6.png" alt="">
        </div>
        <div class="skills">
            <div class="logo-con">
                <img src="../assets/img/icons/angular.png" alt="">
            </div>
            <div class="logo-con">
                <img src="../assets/img/icons/typescript.png" alt="">
            </div>
            <div class="logo-con">
                <img src="../assets/img/icons/javascript.png" alt="">
            </div>
            <div class="logo-con">
                <img src="/assets/img/icons/HTML.png" alt="">
            </div>
            <div class="logo-con">
                <img src="../assets/img/icons/CSS.png" alt="">
            </div>
            <div class="logo-con">
                <img src="../assets/img/icons/restAPI.png" alt="">
            </div>
            <div class="logo-con">
                <img src="../assets/img/icons/firebase.png" alt="">
            </div>
            <div class="logo-con">
                <img src="../assets/img/icons/git.png" alt="">
            </div>
            <div class="logo-con">
                <img src="../assets/img/icons/material-design.png" alt="">
            </div>
            <div class="logo-con">
                <img src="../assets/img/icons/scrum.png" alt="">
            </div>
        </div>
        <div class="text-skills-con">
            <div class="hr-div">
                <hr class="hero-line">
            </div>
            <div class="text-skills">
                <div>
                    <h1>My skills</h1>
                </div>
                <p>
                    I have gained experience in building projects with various front end technologies and concepts.
                </p>
                <div class="lettalk mobile-display">
                    <a (click)="contact()">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</div>